---

import { getRelativeLocaleUrl } from 'astro:i18n'
import { AstroSeo } from '@astrolib/seo'

import Layout from '../../layouts/Layout.astro'

const locale = Astro.currentLocale || 'fr'

const { id } = Astro.params

const goBackLink = getRelativeLocaleUrl(locale, '/projects')

---

<Layout>
  <div>
    <a href={goBackLink}>Go back</a>
  </div>
  <div>
    {id}
  </div>

  <AstroSeo
    slot="meta"
    title="Simple Usage Example"
    description="A short description goes here."
    openGraph={{
      url: 'https://www.url.ie/a',
      title: 'Open Graph Title',
      description: 'Open Graph Description',
      images: [
        {
          url: 'https://www.example.ie/og-image-01.jpg',
          width: 800,
          height: 600,
          alt: 'Og Image Alt',
          type: 'image/jpeg',
        },
        {
          url: 'https://www.example.ie/og-image-02.jpg',
          width: 900,
          height: 800,
          alt: 'Og Image Alt Second',
          type: 'image/jpeg',
        },
        { url: 'https://www.example.ie/og-image-03.jpg' },
        { url: 'https://www.example.ie/og-image-04.jpg' },
      ],
      site_name: 'SiteName',
    }}
    twitter={{
      handle: '@handle',
      site: '@site',
      cardType: 'summary_large_image',
    }}
  />
</Layout>
