---

import { AstroSeo } from '@astrolib/seo'

import Layout from '../layouts/Layout.astro'

---

<Layout>
  <div class="flex min-h-dvh items-center justify-center bg-white text-display-4">
    <div class="grid grid-cols-12 gap-xl text-pretty px-m py-3xl text-black">
      <div class="order-1 col-span-12">
        <h1 class="max-w-heading py-l text-display-2 italic tracking-tighter">Elegantly scale type and space without breakpoints</h1>
      </div>
      <div class="order-2 col-span-8">
        <h2 class="max-w-heading pb-m text-heading-2 font-medium tracking-tight">Thinking of type and space in responsive palettes</h2>
        <div class="">
          <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
            <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
            {' '}
            Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
          </p>
        </div>
        <p class="text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <div class="flex max-w-text flex-col py-xl text-center text-heading-5 italic">
          "Instead of tightening our grip by loading up on breakpoints, we can let go, embracing the ebb and flow with a more fluid and systematic approach to our design foundations."
          <div class="pt-m text-center text-very-small">Celia MANS – Gnagnagna 2024</div>
        </div>
        <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <p class="pb-s text-body">
          Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
          <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
          {' '}
          Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
        </p>
        <p class="pb-s text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
      </div>
      <div class="order-2 col-span-4">
        <h2 class="max-w-heading pb-m text-heading-5 font-medium">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
        </div>
        <h2 class="font-regular max-w-heading pb-m pt-l text-heading-5">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
          <p class="pb-s text-very-small">We’ll typically start a project by defining a suitable body copy font and size at nominated min and max viewport widths.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex min-h-dvh items-center justify-center bg-orange text-display-4 italic">
    <div class="grid grid-cols-12 gap-xl text-pretty px-m py-3xl text-black">
      <div class="order-1 col-span-12">
        <h1 class="max-w-heading py-l text-display-2 italic tracking-tighter">Elegantly scale type and space without breakpoints</h1>
      </div>
      <div class="order-2 col-span-8">
        <h2 class="max-w-heading pb-m text-heading-2 font-medium tracking-tight">Thinking of type and space in responsive palettes</h2>
        <div class="">
          <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
            <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
            {' '}
            Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
          </p>
        </div>
        <p class="text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <div class="flex max-w-text flex-col py-xl text-center text-heading-5 italic">
          "Instead of tightening our grip by loading up on breakpoints, we can let go, embracing the ebb and flow with a more fluid and systematic approach to our design foundations."
          <div class="pt-m text-center text-very-small">Celia MANS – Gnagnagna 2024</div>
        </div>
        <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <p class="pb-s text-body">
          Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
          <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
          {' '}
          Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
        </p>
        <p class="pb-s text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
      </div>
      <div class="order-2 col-span-4">
        <h2 class="max-w-heading pb-m text-heading-5 font-medium">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
        </div>
        <h2 class="font-regular max-w-heading pb-m pt-l text-heading-5">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
          <p class="pb-s text-very-small">We’ll typically start a project by defining a suitable body copy font and size at nominated min and max viewport widths.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex min-h-dvh items-center justify-center bg-yellow text-display-4 italic">
    <div class="grid grid-cols-12 gap-xl text-pretty px-m py-3xl text-black">
      <div class="order-1 col-span-12">
        <h1 class="max-w-heading py-l text-display-2 italic tracking-tighter">Elegantly scale type and space without breakpoints</h1>
      </div>
      <div class="order-2 col-span-8">
        <h2 class="max-w-heading pb-m text-heading-2 font-medium tracking-tight">Thinking of type and space in responsive palettes</h2>
        <div class="">
          <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
            <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
            {' '}
            Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
          </p>
        </div>
        <p class="text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <div class="flex max-w-text flex-col py-xl text-center text-heading-5 italic">
          "Instead of tightening our grip by loading up on breakpoints, we can let go, embracing the ebb and flow with a more fluid and systematic approach to our design foundations."
          <div class="pt-m text-center text-very-small">Celia MANS – Gnagnagna 2024</div>
        </div>
        <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <p class="pb-s text-body">
          Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
          <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
          {' '}
          Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
        </p>
        <p class="pb-s text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
      </div>
      <div class="order-2 col-span-4">
        <h2 class="max-w-heading pb-m text-heading-5 font-medium">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
        </div>
        <h2 class="font-regular max-w-heading pb-m pt-l text-heading-5">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
          <p class="pb-s text-very-small">We’ll typically start a project by defining a suitable body copy font and size at nominated min and max viewport widths.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex min-h-dvh items-center justify-center bg-red text-display-4 italic">
    <div class="grid grid-cols-12 gap-xl text-pretty px-m py-3xl text-black">
      <div class="order-1 col-span-12">
        <h1 class="max-w-heading py-l text-display-2 italic tracking-tighter">Elegantly scale type and space without breakpoints</h1>
      </div>
      <div class="order-2 col-span-8">
        <h2 class="max-w-heading pb-m text-heading-2 font-medium tracking-tight">Thinking of type and space in responsive palettes</h2>
        <div class="">
          <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
            <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
            {' '}
            Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
          </p>
        </div>
        <p class="text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <div class="flex max-w-text flex-col py-xl text-center text-heading-5 italic">
          "Instead of tightening our grip by loading up on breakpoints, we can let go, embracing the ebb and flow with a more fluid and systematic approach to our design foundations."
          <div class="pt-m text-center text-very-small">Celia MANS – Gnagnagna 2024</div>
        </div>
        <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <p class="pb-s text-body">
          Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
          <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
          {' '}
          Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
        </p>
        <p class="pb-s text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
      </div>
      <div class="order-2 col-span-4">
        <h2 class="max-w-heading pb-m text-heading-5 font-medium">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
        </div>
        <h2 class="font-regular max-w-heading pb-m pt-l text-heading-5">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
          <p class="pb-s text-very-small">We’ll typically start a project by defining a suitable body copy font and size at nominated min and max viewport widths.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex min-h-dvh items-center justify-center bg-blue text-display-4 italic">
    <div class="grid grid-cols-12 gap-xl text-pretty px-m py-3xl text-black">
      <div class="order-1 col-span-12">
        <h1 class="max-w-heading py-l text-display-2 italic tracking-tighter">Elegantly scale type and space without breakpoints</h1>
      </div>
      <div class="order-2 col-span-8">
        <h2 class="max-w-heading pb-m text-heading-2 font-medium tracking-tight">Thinking of type and space in responsive palettes</h2>
        <div class="">
          <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
            <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
            {' '}
            Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
          </p>
        </div>
        <p class="text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <div class="flex max-w-text flex-col py-xl text-center text-heading-5 italic">
          "Instead of tightening our grip by loading up on breakpoints, we can let go, embracing the ebb and flow with a more fluid and systematic approach to our design foundations."
          <div class="pt-m text-center text-very-small">Celia MANS – Gnagnagna 2024</div>
        </div>
        <p class="pb-s text-body">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
        <p class="pb-s text-body">
          Visualise the invisible: componentize responsive space, codifying its implementation and behavior.
          <strong>Create bespoke constraints for your projects to ensure consistent and harmonious designs.</strong>
          {' '}
          Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.
        </p>
        <p class="pb-s text-small">Design and develop rapidly using a handful of related rules, building the system, not every permutation of its contents at arbitrary breakpoints. Streamline communication and collaboration between design and development.</p>
      </div>
      <div class="order-2 col-span-4">
        <h2 class="max-w-heading pb-m text-heading-5 font-medium">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
        </div>
        <h2 class="font-regular max-w-heading pb-m pt-l text-heading-5">
          Designing
          <wbr />
          {' '}
          with fluid typography
        </h2>
        <div class="">
          <p class="pb-s text-body">
            Visualise the invisible: componentize responsive space, codifying its implementation and behavior. Create bespoke constraints for your projects to ensure consistent and harmonious designs.
            <em>Swap jarring breakpoint jumps for buttery-smooth interpolation, with programmatically tailored type and space scales for every screen size.</em>
          </p>
          <p class="pb-s text-very-small">We’ll typically start a project by defining a suitable body copy font and size at nominated min and max viewport widths.</p>
        </div>
      </div>
    </div>
  </div>

  <AstroSeo
    slot="meta"
    title="Simple Usage Example"
    description="A short description goes here."
    openGraph={{
      url: 'https://www.url.ie/a',
      title: 'Open Graph Title',
      description: 'Open Graph Description',
      images: [
        {
          url: 'https://www.example.ie/og-image-01.jpg',
          width: 800,
          height: 600,
          alt: 'Og Image Alt',
          type: 'image/jpeg',
        },
        {
          url: 'https://www.example.ie/og-image-02.jpg',
          width: 900,
          height: 800,
          alt: 'Og Image Alt Second',
          type: 'image/jpeg',
        },
        { url: 'https://www.example.ie/og-image-03.jpg' },
        { url: 'https://www.example.ie/og-image-04.jpg' },
      ],
      site_name: 'SiteName',
    }}
    twitter={{
      handle: '@handle',
      site: '@site',
      cardType: 'summary_large_image',
    }}
  />
</Layout>
